<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Date</td>
        <td>Card</td>
        <td>CVV</td>
        <td>Category</td>
    </tr>
    {{#purchases}}
    {{#customer}}
    <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{date}}</td>
        <td>{{card}}</td>
        <td>{{cvv}}</td>
        <td>{{category}}</td>
    </tr>
    {{/customer}}
    {{/purchases}}
</table>
</body>
</html>